@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --secondary-color: #757575;
  --accent: #2196f3;
  --background-color: #2f303a;
  --white-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.section {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: var(--primary-text-color);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.section-subtitle {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.section-text {
  color: var(--secondary-color);
  font-style: normal;
  font-weight: normal;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.icon-bgr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--accent);
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.logo-header {
  color: var(--primary-text-color);
}

.logo-footer {
  color: var(--white-color);
}

.sosial-list {
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
}

.sosial-list__bgr {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sosial-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.sosial-list__bgr:focus,
.sosial-list__bgr:active,
.sosial-list__bgr:hover {
  background-color: var(--accent);
  color: var(--white-color);
}

.sosial-list__item:not(:last-child) {
  margin-right: 10px;
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  background-color: transparent;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--accent);
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--white-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-bottom {
  position: absolute;
  bottom: 48px;
  left: 40px;
}

.mobile-sosial a {
  text-decoration: none;
  color: var(--accent);
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-link {
  text-decoration: none;
  display: block;
  color: var(--primary-text-color);
}

.mobile-menu:first-child {
  margin-top: 0;
}

.mobile-sosial {
  display: block;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
}

.mobile-menu {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-current {
  color: var(--accent);
}

.mobile-bottom-tel {
  margin-bottom: 32px;
}

.mobile-bottom-email {
  margin-bottom: 64px;
}

.mobile-tel {
  color: var(--accent);
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
}

.mobile-email {
  display: flex;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.mobile-sosial {
  display: flex;
  justify-content: space-around;
}

.mobile-sosial-item {
  display: flex;
  color: var(--accent);
  margin-right: 20px;
  position: relative;
}

.mobile-sosial-item:not(:last-child):before {
  position: absolute;
  content: "";
  right: -10px;
  height: 100%;
  width: 1px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.team__image {
  margin-bottom: 30px;
  width: 100%;
}

.team__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.team__role {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
  padding-bottom: 30px;
  width: 100%;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img.jpg");
  color: var(--white-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img-2x.jpg");
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 1199px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
  }
}

.hero button {
  background-color: var(--accent);
  color: var(--white-color);
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.work-box {
  position: relative;
}

.work-text {
  position: absolute;
  bottom: 0;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 16px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.features-list {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.features-item {
  width: 100%;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .features-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.features.section {
  padding-bottom: 0;
}

.futures-icon {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 768px) {
  .section-subtitle {
    text-align: center;
  }
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;
}

.portfolio-list {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.portfolio-item {
  border: 1px solid #eeeeee;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

.portfolio-link:hover .portfolio-overley-text,
.portfolio-link:focus .portfolio-overley-text {
  transform: translateY(0);
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overley-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 77px 24px;
  transform: translateY(150%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-overley-text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-overley-text {
    padding: 63px 24px;
  }
}

.portfolio-work {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.portfolio-type {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.portfolio-text-margin {
  padding: 20px 24px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 2 - 30px);
}

@media screen and (min-width: 768px) {
  .clients-item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients-link {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  color: #afb1b8;
  display: flex;
  justify-content: center;
  height: 92px;
  /* ------- */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus,
.clients-link:active {
  border-color: var(--accent);
  color: var(--accent);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.filter-button {
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .filter-item {
    margin-top: 15px;
  }
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}

.filter-button:focus,
.filter-button:active,
.filter-button:hover,
.button-active {
  color: var(--white-color);
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter .list {
  justify-content: center;
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-item {
  align-items: center;
  display: flex;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.page-header {
  display: flex;
  align-items: center;
}

.site-contact {
  list-style: none;
}

@media (min-width: 1199px) {
  .site-contact {
    display: flex;
    justify-content: flex-end;
    padding-left: 205px;
  }
}

.site-nav {
  display: flex;
  justify-content: space-between;
}

.site-nav-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .site-nav {
    align-items: center;
  }
}

@media screen and (min-width: 1199px) {
  .site-nav {
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .site-nav-menu,
  .site-contact {
    display: none;
  }
}

.site-nav .link {
  display: block;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.site-nav .link:focus,
.site-nav .link:hover,
.site-nav .link.current,
.site-contact-footer .link:focus,
.site-contact-footer .link:hover,
.site-contact-item:focus,
.site-contact-item:hover {
  color: var(--accent);
}

.site-nav .link,
.site-contact-footer .link,
.site-nav .link.current,
.site-contact-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
}

.current::after {
  position: absolute;
  bottom: -35px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent);
}

@media screen and (min-width: 1200px) {
  .current::after {
    bottom: -29px;
  }
}

.site-contact-footer .link,
.site-contact .link {
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: 0.02em;
}

@media (min-width: 1199px) {
  .site-contact-item:not(:last-child) {
    margin-right: 30px;
  }
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo-adress-sosial {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-logo-adress-sosial {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-logo-adress-sosial {
    margin-bottom: 0px;
  }
}

.footer-logo-adress {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-logo-adress {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

.footer-connect {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer-connect {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-sosial {
    margin-left: 70px;
  }
}

@media screen and (min-width: 768px) {
  .footer-submit {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-submit {
    margin-left: auto;
    width: 49%;
  }
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--accent);
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  display: block;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer-logo {
    margin-right: 0;
  }
}

@media screen and (max-width: 1199px) {
  .footer-item {
    text-align: center;
  }
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-input {
  width: 350px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background: transparent;
  padding: 15px 16px;
  color: var(--white-color);
}

@media screen and (min-width: 1199px) {
  .footer-input {
    margin-right: 12px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-input {
    width: 100%;
    margin-bottom: 20px;
  }
}

.footer-input:active,
.footer-input:hover,
.footer-input:focus {
  border: 1px solid var(--accent);
}

.footer-sosial .sosial-list {
  padding: 0;
  color: var(--white-color);
}

.footer-sosial-link {
  background-color: var(--secondary-color);
}

.footer-sosial .sosial-list__icon {
  fill: var(--white-color);
}

@media screen and (max-width: 1199px) {
  .form-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(2);
}

.modal {
  position: relative;
  min-height: 182px;
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1199px) {
  .modal {
    width: 528px;
  }
}

.btn-close {
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: currentColor;
}

.btn-close:hover {
  color: var(--accent);
}

/* форма */
.form {
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  color: var(--primary-text-color);
}

.form-input {
  width: 100%;
  outline: none;
  padding: 12px 16px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-comment-text:active,
.form-comment-text:focus,
.form-comment-text:hover,
.form-input:active,
.form-input:hover,
.form-input:focus {
  border: 1px solid var(--accent);
}

.form-input:active ~ svg,
.form-input:hover ~ svg,
.form-input:focus ~ svg {
  color: var(--accent);
}

.form-field label {
  color: var(--secondary-color);
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-comment {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--secondary-color);
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-comment label {
  margin-bottom: 4px;
}

.form-comment-text {
  width: 100%;
  min-height: 120px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-btn {
  display: flex;
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  fill: var(--white-color);
}

.form-btn-send {
  display: block;
  margin: 0 auto;
}

.form-btn:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

form .form-btn svg {
  margin-left: 10px;
}

.footer-form-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
  fill: currentColor;
}

.input-wrapper {
  position: relative;
}

.modal-checkbox-link {
  color: var(--accent);
  text-decoration: underline;
}

.check-text {
  display: flex;
  margin-bottom: 31px;
  color: var(--primary-text-color);
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .check-text {
    font-size: 12px;
  }
}

.check-text span {
  width: 15px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-checkbox:checked + .check-text span {
  background-color: var(--accent);
  fill: var(--white-color);
  border: none;
}
/*# sourceMappingURL=main.css.map */