.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo-adress-sosial{ 
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}

.footer-container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-connect {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
  @media screen and (max-width: 1199px){
    margin-left: auto;
    margin-right: auto;
  }
}
.footer-sosial {
  @media screen and (min-width: 1200px){
      margin-left: 70px;
    }
}
.footer-submit {
  @media screen and (min-width: 768px){
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px){
      margin-left: 93px;
      width: auto;
  } 
}


.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-input {
  width: 350px;
  height: 50px;
  border: 1px solid rgba(134, 55, 55, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background: transparent;
  padding: 15px 16px;

  @media screen and (min-width: 1199px){
    margin-right: 12px;
  }
  
  @media screen and (max-width: 1199px){
    width: 100%;
    margin-bottom: 20px;
  }
 
}

.footer-input:active,
.footer-input:hover,
.footer-input:focus {
  border: 1px solid var(--accent);
}

.footer-sosial .sosial-list {
  padding: 0;
  color: var(--white-color);
}

.footer-sosial-link {
  background-color: var(--secondary-color);
}

.footer-sosial .sosial-list__icon {
  fill: var(--white-color);
}

.form-btn{
  @media screen and (max-width: 1199px){
    margin-left: auto;
    margin-right: auto;
  }
}