.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-item {
  align-items: center;
  display: flex;
}
.page-header {
  border-bottom: 1px solid #ececec;
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.page-header {
  display: flex;
  align-items: center;
}

.site-contact {
  list-style: none;
  @media (min-width: 1199px) {
    display: flex;
    justify-content: flex-end;
    padding-left: 205px;
  }
}

.site-nav {
  display: flex;
  justify-content: space-between;
}

.site-nav-menu {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  align-items: center;
}

.site-nav {
  @media screen and (min-width: 768px) {
    align-items: center;
  }
  @media screen and (min-width: 1199px) {
    align-items: baseline;
  }
}
