.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  background-color: transparent;
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--accent);
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
// с репозитория репеті
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--white-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}
.mobile-bottom {
  position: absolute;
  bottom: 48px;
  left: 40px;
}
.mobile-menu,
.mobile-sosial {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile-menu-link {
  text-decoration: none;
  display: block;
  margin-bottom: 32px;
  color: var(--primary-text-color);
}
.mobile-menu:first-child {
  margin-top: 0;
}

.mobile-sosial {
  display: block;

  color: var(--primary-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  letter-spacing: 0.02em;
}

.mobile-menu {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}
.mobile-current {
  color: var(--accent);
}
.mobile-tel {
  color: var(--accent);
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;

  letter-spacing: 0.02em;
}
.mobile-email {
  display: flex;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  margin-top: 32px;
}
.mobile-sosial {
  display: flex;
  justify-content: space-around;
  margin-top: 64px;
}
.mobile-sosial-link {
  display: flex;
  color: var(--accent);
  margin-right: 20px;
  position: relative;
}
.mobile-sosial-link:before {
  position: absolute;
  content: "";
  left: -10px;
  height: 100%;
  width: 1px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

// :not(:first-child):before
// .mobile-sosial-link:not(:last-child) {
//   border-right: 1px solid rgba(33, 33, 33, 0.2);
// }

//   &:first-child {
//     padding-left: 10px;
//     border-left: 1px solid rgba(33, 33, 33, 0.2);
//   }
// }

// .mobile-sosial-link:first-child {
//   padding-left: 10px;
//   border-left: 1px solid rgba(33, 33, 33, 0.2);
// }
